*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header {
    position:fixed;
    background-color: white;
    top:0;
    right:0;
    width:100%;
    border-bottom: 1px solid rgb(209, 209, 209);
}

.header-top{
    display: flex;
    align-items: center;
    line-height: 50px;
    height:50px;
    font-size:20px;
    font-weight: 100;
    color:grey;
    padding:25px 0 0 15px;
}

.logo {
    height:auto;
    margin-right:5px;
    width:80px;
}
    
.header-bottom {
    display: flex;
    height:50px;
    color:rgba(169, 169, 169, 0.658);
    justify-content:flex-start;
}

header ul {
    display:flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding-left:15px;
    font-size: 15px;
    font-weight: 400;
}

header li {
    display:inline-block;
    margin-right: 35px;
    line-height: 50px;
    height:100%;
}

li a {
    text-decoration: none;
    color:grey;
    padding-bottom: 15px;
}

li a:focus {
    color:cornflowerblue;
    border-bottom: 2px solid #3367d6;
}


/* MAIN */

main {
    margin-top: 200px;
}
.container {
    width:74%;
    margin:0 auto;
}

.question {
    font-size: 24px;
    margin:20px 0;
}

.answer {
    font-size: 15px;
}
    


